@media all and (min-width: 450px) {
    #home{
      display:block;
      float: left;
      width:45%;
      postion:relative;
      z-index:200;
    }

    #pokemon-detail, #pokemon-catch, #pokemon-settings{
      display:inline-block;
      float:right;
      width:65%;
      margin-left: 45%;
      postion:relative;
    }

    .detail-content{
      margin-right: 15%;
    }

    #btn-back{
        display: none;
    }
}
