@media all and (min-width: 450px) {
    #home{
        display:block;
        float: left;
        width:30%;
        postion:relative;
        z-index:200;
    }

    #pokemon-detail{
        display:inline-block;
        float:right;
        width:70%;
        margin-left: 30%;
        postion:relative;
    }
    
    #btn-back{
        display: none;
    }
}